<!DOCTYPE html>
<html>
<head>
  <title>CBES</title>  
  <%= favicon_link_tag 'favicon.ico' %>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/scaffold.css" rel="stylesheet" type="text/css" />
</head>
<body>
<%= yield %>
</body>
</html>
